  <%# <% @pics.each do |pic| %>
    <div class="content_post" style="background-image: url(<%= pic.image %>);">
      <%# <p><%= pic.text %></p> %>
      <span class="name">
        <%# <%= pic.name %> %>
      </span>
    </div>
  <% end %>
</div> %>